<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nbp.b2g.ui"
    android:versionCode="1"
    android:versionName="1.0"
    >

  <uses-sdk android:minSdkVersion="16" />
  <uses-permission android:name="android.permission.INJECT_EVENTS" />

  <uses-permission android:name="android.permission.BLUETOOTH" />

  <application
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:persistent="true"
      >

    <service
        android:name="InputService"
        android:label="@string/input_service_label"
        android:permission="android.permission.BIND_INPUT_METHOD"
        >

      <intent-filter>
        <action
          android:name="android.view.InputMethod"
         />
      </intent-filter>

      <meta-data
        android:name="android.view.im"
        android:resource="@xml/input_service"
       />
    </service>

    <service
        android:name=".ScreenMonitor"
        android:label="@string/screen_monitor_label"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        >

      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/screen_monitor"
       />
    </service>

    <activity
        android:name=".ClockActivity"
        android:label="@string/clock_activity_label"
        >
    </activity>

    <activity
        android:name=".ControlsActivity"
        android:label="@string/controls_activity_label"
        >
    </activity>
  </application>
</manifest>
