<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nbp.b2g.ui"
    android:versionCode="6"
    android:versionName="1.5"
    >

  <!-- Android 4.1 (Jellybean) -->
  <uses-sdk android:minSdkVersion="16" />

  <!-- for waking up the system on key presses -->
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <!-- x -->
  <uses-permission android:name="android.permission.WRITE_SETTINGS" />

  <!-- for starting the screen monitor (accessibility service) -->
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

  <!-- for injecting touch screen gestures (tap, swipe, etc) -->
  <uses-permission android:name="android.permission.INJECT_EVENTS" />

  <!-- for reading user-provided data files (keys, chars, etc) -->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <!-- for creating org.nbp.b2g.ui/ -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <!-- for the SendAndroidLog action -->
  <uses-permission android:name="android.permission.READ_LOGS" />

  <!-- for the braille monitor (system overlay) window -->
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

  <!-- for the DescribeStatus action -->
  <uses-permission android:name="android.permission.BATTERY_STATS" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <!-- for the braille display endpoint -->
  <uses-permission android:name="android.permission.BLUETOOTH" />

  <!-- for system maintenance operations -->
  <uses-permission android:name="android.permission.REBOOT" />

  <!-- for applying an OTA update (requires writing to /cache/recovery/command) -->
  <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />

  <application
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:persistent="true"
      >

    <service
        android:name="InputService"
        android:label="@string/input_service_label"
        android:permission="android.permission.BIND_INPUT_METHOD"
        >

      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>

      <meta-data
        android:name="android.view.im"
        android:resource="@xml/input_service"
       />
    </service>

    <service
        android:name=".host.ScreenMonitor"
        android:label="@string/screen_monitor_label"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        >

      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
          android:name="android.accessibilityservice"
          android:resource="@xml/screen_monitor"
       />
    </service>

    <activity
        android:name=".host.BuildDetailsActivity"
        android:label="@string/build_activity_label"
        >
    </activity>

    <activity
        android:name=".host.ClockActivity"
        android:label="@string/clock_activity_label"
        >
    </activity>

    <activity
        android:name=".host.MaintenanceActivity"
        android:label="@string/maintenance_activity_label"
        >
    </activity>

    <activity
        android:name=".host.RecoveryLogActivity"
        android:label="@string/recoveryLog_activity_label"
        >
    </activity>

    <activity
        android:name=".host.SettingsActivity"
        android:label="@string/settings_activity_label"
        >
    </activity>

    <activity
        android:name=".host.UserGuideActivity"
        android:label="@string/userGuide_activity_label"
        >
    </activity>

    <activity
        android:name=".host.FakeLauncher"
        android:enabled="false"
        >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.HOME" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <receiver
        android:name=".HostMonitor"
        android:exported="false"
        >

      <intent-filter>
        <action android:name="android.intent.action.MEDIA_UNMOUNTABLE" />
        <action android:name="android.intent.action.MEDIA_NOFS" />
        <action android:name="android.intent.action.MEDIA_MOUNTED" />
        <action android:name="android.intent.action.MEDIA_SHARED" />
        <action android:name="android.intent.action.MEDIA_BAD_REMOVAL" />
        <action android:name="android.intent.action.MEDIA_EJECT" />
        <action android:name="android.intent.action.MEDIA_UNMOUNTED" />

        <data android:scheme="file" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
