<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.nbp.calculator"
  android:versionCode="@integer/NBP_Calculator_version_code"
  android:versionName="@string/NBP_Calculator_version_name"
  >

  <application
    android:label="@string/app_name"
    android:icon="@drawable/ic_launcher"
    >

    <activity
      android:name="CalculatorActivity"
      android:label="@string/app_name"
      >

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.APP_CALCULATOR" />
      </intent-filter>
    </activity>

    <receiver
      android:name=".HostMonitor"
      android:exported="false"
      >

      <intent-filter>
        <action android:name="android.intent.action.LOCALE_CHANGED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
