<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionName="1.0.0"
  android:versionCode="1"
  package="org.nbp.editor"
  >

  <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="19"/>

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="info.spielproject.spiel.SEND_COMMANDS"/>

  <application
    android:name=".Application"
    android:icon="@drawable/icon"
    android:label="@string/appName">

    <activity
      android:label="@string/appName"
      android:name=".ui.Editor"
      android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.EDIT"/>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" android:scheme="file"/>
      </intent-filter>
    </activity>

  </application>
</manifest>
